.flex_div {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
}

textarea {
   width: 500px;
   height: 100%;
 }

#name {
   height: 23px;
   margin: 5px;
}

#button {
   height: 23px;
   margin: 5px;
}

#result {
   margin: 5px;
}