.flex_div {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
}

textarea {
   width: 750px;
   height: 100%;
 }

input[type="text"] {
   width: 250px;
   height: 23px;
   margin: 5px;
}

#result {
   margin: 5px;
}

#query_div {
   display: flex;
   flex-direction: column;
   margin: 55px;
}